---
import '@fontsource/inter'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="https://github.com/certifychain.png" />
		<meta name="generator" content={Astro.generator} />
		<title>certifychain</title>
		<style>
			body {
				font-family: "inter", sans-serif;
			}
		</style>
	</head>
	<body class="min-h-[100vh] bg-[#F4F5F7]">
		<slot />
	</body>
</html>